# Kconfig - HC_SR04 ultrasonic range sensor

menuconfig HC_SR04
	bool
	prompt "HC_SR04 ultrasonic range sensor"
	depends on GPIO
	default n
	help
	  Enable driver for HC_SR04 ultrasonic range sensor.

config HC_SR04_NAME
	string
	prompt "Driver name"
	default "HR-SR04"
	depends on HC_SR04
	help
	  Device name with which the HC_SR04 sensor is identified.

config HC_SR04_GPIO_DEV_NAME
	string
	prompt "GPIO device"
	default "GPIO_0"
	depends on HC_SR04
	help
	  The device name of the GPIO device to which the HC_SR04 data-ready
	  pin is connected.

config HC_SR04_EXP_DEV_NAME
	string
	prompt "EXP device"
	default "EXP1"
	depends on HC_SR04
	help
	  The device name of the EXP device to which the HC_SR04 data-ready
	  pin is connected.

config HC_SR04_GPIO_PIN_NUM_1
	int
	prompt "Interrupt GPIO pin number"
	default 3
	depends on HC_SR04
	help
	  The number of the GPIO on which the data-ready signal from the HC_SR04
	  chip will be received.

config HC_SR04_GPIO_PIN_NUM_2
	int
	prompt "Interrupt GPIO pin number"
	default 5
	depends on HC_SR04
	help
	  The number of the GPIO on which the data-ready signal from the HC_SR04
	  chip will be received.

config HC_SR04_EXP_PIN_NUM_1
	int
	prompt "Interrupt EXP pin 1 number"
	default 0
	depends on HC_SR04
	help
	  The number of the EXP on which the data-ready signal from the HC_SR04
	  chip will be received.

config HC_SR04_EXP_PIN_NUM_2
	int
	prompt "Interrupt EXP pin 2 number"
	default 1
	depends on HC_SR04
	help
	  The number of the EXP on which the data-ready signal from the HC_SR04
	  chip will be received.

config HC_SR04_EXP_PIN_NUM_3
	int
	prompt "Interrupt EXP pin 1 number"
	default 2
	depends on HC_SR04
	help
	  The number of the EXP on which the data-ready signal from the HC_SR04
	  chip will be received.

config HC_SR04_EXP_PIN_NUM_4
	int
	prompt "Interrupt EXP pin 2 number"
	default 3
	depends on HC_SR04
	help
	  The number of the EXP on which the data-ready signal from the HC_SR04
	  chip will be received.